/coverage/
/Dockerfile
/.dockerignore
**/.DS_Store
/.env
/.env.template
/.git/
/.github/
/.idea/
/.next/
/node_modules/
/out/
/projects/
**/README.md
**/script/
**/__tests__/
/test-results/
*.tsbuildinfo
